<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fc2 mvc</title>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container" style="padding-top: 10px">


        <div class="row">
            <div class="panel panel-default" id="chatWrap">
                <div class="panel-heading">대화내용</div>
                <div class="panel-body">
                    <ul id="chatBody"></ul>
                </div>
            </div>
        </div>

        <div>
            <form action="" method="post" id="sendForm">

                <div class="input-group">
                    <input type="hidden" name="socketId">
                    <input type="text" name="message" class="form-control" placeholder="대화내용을 입력해주세요.">
                    <span class="input-group-btn">
                        <button class="btn btn-primary">작성하기</button>
                    </span>
                </div><!-- /input-group -->

            </form>  

        </div>


<style type="text/css">
.panel-default ul { padding-left:0px; }
.panel-default ul li { list-style:none; padding-left:0px;}
.panel-default .panel-body {min-height:350px; max-height:350px;  overflow-y:scroll; }
#chatWrap ul li strong::after { content: " : "; }
@media (max-width: 768px) { 
    #userWrap { display:none; }
    #chatWrap .panel-body { min-height:250px; }
}
</style>
<script src="/socket.io/socket.io.js"></script>  
<script>
(function(){

 
})();
</script>





    </div>

</body>
</html>